.type-of-event {
  color: rgb(37, 126, 194);
  font-weight: bold;
  font-size: 20px;
}

.form-control {
  height: 50px;
}

.carousel {
  .carousel-inner {
    width: 102%;

    .carousel-item {
      width: 98%;
      padding: 0 15px;
    }
  }

  button {
    height: 50px;
    margin: 12px 0;
    color: #257ec2;
    opacity: 0.8;
  }

  .carousel-control-prev:hover, .carousel-control-prev:focus, .carousel-control-next:hover, .carousel-control-next:focus {
    color: #257ec2;
    text-decoration: none;
    outline: 0;
    opacity: 0.6;
  }
}

.looking-for-buddy-container {
  position: relative;

  .buddy-up {
    position: absolute;
    top: -28px;
    left: 10px;
  }
}
