.show-event-image-container {
  width: 100vw;
  position: relative;

  .event-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  }

  .event-user-info {
    height: 70px;
    width: 93%;
    position: absolute;
    bottom: -30px;
    left: 15px;

    .event-user-username {
      position: relative;

      p {
        position: absolute;
        bottom: 0;
        left: 10px;
        font-size: 18px;
      }
    }
  }
}

.underlined {
  text-decoration: underline;
}

.date-place {
  p {
    font-size: 1.2em;
  }

  .location {
    p {
      max-width: 220px;
    }
  }
}

.users-comments {
  padding: 5px;
  margin-top: 30px;
}

.current-user-comment, .other-user-comment {
  border: 1px solid $mainblue;
  height: fit-content;
  width: fit-content;
  max-width: 85%;
  color: $black;
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: 0;
  border-radius: 20px;

  .comment-text {
    width: 100%;
    display: block;
    overflow-wrap: break-word;
  }
}

.other-user-comment {
  margin-left: auto;
  margin-right: 0;
}
