.event-container {
  padding: 0 15px;

  .carousel {
    .carousel-inner {
      width: 102%
    }

    .carousel-item {
      width: 98%;
    }
    
    button {
      height: 50px;
      margin: 12px 0;
      color: #257ec2;
    }
  }
}
