// Specific CSS for your home-page
#banner {
  position: relative;
  p {
    position: absolute;
    top: 20px;
    color: white;
    margin-left: 14px;
    top: 220px;
    font-weight: bold;
  }
}



#homepage-img {
  // height: 275px;
  width: 100%;
  object-fit: cover;
}



.phrase {
  color: #3860ED;
  margin: 18px 18px;
}

#btn-homepage {
  margin: 0 auto;
  display: block;
  width: 285px;
  text-align: center;
}

#navbar-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  i {
    padding: 0 10px;
  }
}
