// Specific CSS for your home-page
#banner {
  position: relative;
  p {
    position: absolute;
    color: white;
    margin: 0;
    bottom: 18px;
    left: 85px;
    font-size: 20px;
    font-weight: bold;
  }
}

#homepage-img {
  // height: 275px;
  width: 100%;
  object-fit: cover;
}

.phrase {
  color: #3860ED;
}

#btn-homepage {
  margin: 0 auto;
  display: block;
  width: 285px;
  text-align: center;
}

#navbar-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  i {
    padding: 0 10px;
  }
}
