.user-profile {
  background-color: #FFF4F4;
}

.user-info {
  font-size: 20px;
}

#username {
  font-size: 15px;
}

.simple-calendar {
  width: 85vw;
  height: auto;
  border: 1px solid $black;

  .day {
    height: 60px;
  }

  .calendar-heading {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: $mainblue;
    color: $white;

    a {
      color: $white;
    }
  }

  .table {
    margin-bottom: 0;

    th, td {
      text-align: center;
    }
  }
}
