.user-profile {
  background-color: #FEF7F7;
}

#username {
  font-size: 10px;
}

.simple-calendar {
  width: 90vw;

  .day {
    height: 60px;
  }

  .calendar-heading {
    display: flex;
    justify-content: space-around
  }
}
