<div class="navbar-bottom d-flex justify-content-around align-items-center fixed-bottom">
  <i class="fa-solid fa-house"></i>
  <i class="fa-solid fa-magnifying-glass"></i>
  <i class="fa-regular fa-square-plus"></i>
  <i class="fa-solid fa-user-group"></i>
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
</div>
