<div class="navbar-bottom d-flex justify-content-around align-items-center border-top pt-1 fixed-bottom">
  <%= link_to '<i class="fa-solid fa-house"></i>'.html_safe, events_path %>
  <i class="fa-solid fa-magnifying-glass"></i>
  <%= link_to '<i class="fa-regular fa-square-plus"></i>'.html_safe, new_event_path %>
  <%= link_to '<i class="fa-solid fa-user-group"></i>'.html_safe, friendships_path %>
  <a href="/myprofile" class="d-flex align-items-center"><%= cl_image_tag current_user.profile.photo.key, class: "avatar" %></a>
</div>
