<div class="event-card-show">
  <div>
    <h2><%= @event.title %></h2>
    <p><%= "#{@event.start_date} - #{@event.start_date}" %></p>
    <p><%= @event.address %></p>
    <p><%= @event.description%></p>
    <div>INSERT AVATAR & NAME OF OWNER</div>
  </div>
  <div >EVENT IMAGE</div>
  <div>ICONS</div>
</div>


<div>
  <h2>Comments</h2>
</div>
