<div class="container">
  <h1>Pages#home</h1>

  <h2>Hola Harris</h2>
  <%= link_to "Primary button", "#", class: "button-primary" %>
  <br>
  <br>
  <%= link_to "Secondary button", "#", class: "button-secondary" %>

  <div id="heading-main">
    <p>Heading 1</p>
  </div>
  <div id="heading-secondary">
    <p>Heading 2</p>
  </div>
</div>
