<div id="banner">
  <%= image_tag "concert2.jpeg", id: "homepage-img" %>
  <p>Share, enjoy, feel alive.</p>
</div>

<div>
  <%# <p class="phrase">Changing the way people connect.</p> %>
</div>

<div style="padding: 20px;">
  <%= link_to "Find your next experience", events_path, class: "button-primary", id: "btn-homepage" %>
</div>

<div>
  <p class="phrase">Don't miss these top-events!</p>
</div>

<%= "Several event-cards bellow" %>
