.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid #dee2e6;
  box-shadow: none;
  background-color: transparent;
  font-size: 1rem;
  color: #454646;
  border-radius: 2px;
}
