.show-event-card {
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  background-color: $pink;
  justify-content: center;
}

.show-event-card-header {
  justify-content: space-between;
  align-items: center;
}

.show-event-image {
  display: flex;
  background-size: cover;
  background-position: center;
  height: 200px;
  position: relative;
  margin: 5px;
  width: 95%;
}

.show-event-card-footer {
  margin: 5px;
}

.show-event-icons {
  justify-content: flex-end;
  font-size: 26px;
  padding: 0px;

  i {
    padding-left: 20px;
    color: $black;
  }
}

.show-comments-card {
  padding: 5px;
  margin-top: 30px;
}

.current-user-comment {
  background-color: $mainblue;
  color: $white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
}

.other-user-comment {
  background-color: $secondblue;
  color: $white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
}

.fa-chevron-left::before {
  margin-left: 12px;
}

.back-icon {
  margin-bottom: 10px;
}
