.event-card {
  color: $white;
  height: 200px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
  background-size: cover;
  background-position: center;

  h2 {
    color: $white;
    font-size: 30px;
  }

  .card-info {
    width: 90%;
    height: 90%;

    .event-date, .event-title, .event-address {
      width: 90%;
    }
    .fa-location-dot {
      height: 25px;
    }

    .address {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
}

.card-title{
  color: rgb(60, 37, 194);
}

.event-title-btn {
  font-size: 18px;
}

.show-event-card-actions {
  margin: 5px;
}

.fa-chevron-left::before {
  margin-left: 12px;
}

.back-icon {
  margin-bottom: 10px;
}

.fa-bookmark {
  font-size: 30px;
}

.card-profile-box {
  margin: 10px;
}
