.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin: 0;

  a {
    color: $black;
  }

  .fa-solid {
    font-size: 22px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar #logo {
  width: 140px;
  height: 30px;
}

#navbar-div {
  padding: 0 14px;
}

.navbar-nav .dropdown-menu {
  position: absolute;
  right: -10px;
}

.navbar-bottom {
  background-color: $white;
  height: 50px;
  font-size: 22px;

  a {
    color: $black;
  }
}
