.sign-background-image {
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), image-url("sign-image.png");
  background-size: cover;
  background-position: center;
  color: $white;
  min-height: 100vh;
  .form-text {
    color: $white;
  }
}
